/* Estilo básico para el body */
body {
    margin: 0;
    display: inline-block;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
    width: 100%;
}

/* Header ocupa el 12% de altura y el 100% de ancho */
.header {
    background-color: #691B32;
    color: white;
    height: 12%; /* Define un 12% de la altura del viewport */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: space-between; /* Distribuye el contenido horizontalmente */
    padding: 0 20px; /* Añade margen interno para separar el contenido del borde */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño del header */
}

.header .logo-container {
    display: flex;
    align-items: center; /* Centra verticalmente el logo y el texto */
}

.header .logo {
    max-height: 100%; /* Ajusta la altura del logo al tamaño del contenedor */
    max-width: 80px; /* Limita el ancho del logo para mantener proporciones */
    object-fit: contain; /* Ajusta el logo sin distorsionar */
    margin-right: 15px; /* Espaciado entre el logo y el texto */
}

.header-text {
    line-height: 1.2; /* Ajusta la separación entre las líneas del texto */
    font-size: clamp(18px, 2vw, 22px); /* Escala responsivamente el tamaño del texto */
}

.header-line {
    margin: 0; /* Elimina márgenes para un mejor control del espaciado */
    font-family: 'Afacad', sans-serif; /* Define la fuente principal y una alternativa */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Aside ocupa el 88% de altura restante y 15% del ancho */
aside {
    width: 15%; /* 15% del ancho del body */
    background-color: black;
    height: 76%;
    float: left;
    display: inline-block;
    box-sizing: border-box;
}

/* Footer ocupa el 12% de altura y el 100% de ancho */
.footer {
    flex-shrink: 0;
    width: 100%;
    height: 12%; /* Approx. 12% of viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #691B32;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    max-height: 90px;
    margin-right: 100px;
}

.footer-text {
    text-align: center;
}

.footer-title {
    font-size: 22px;
    margin: 0;
    margin-bottom: 1px;
}

.footer-line {
    margin: 0;
    font-size: 14px;
}


/* Main ocupa el espacio restante (85% del ancho y 76% del alto) */
main {
    background-color: green;
    width: 85%; /* 85% del ancho del body */
    height: 76%; /* 88% del alto del body */
    float: right; /* Posiciona el main a la derecha del aside */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
