/* Contenedor principal */
.form-container {
    width: 90%;
    height: 70vh; /* Abarca el 76% del alto de la ventana */
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Espaciado vertical uniforme */
    margin-top: 3vh;
}

/* Título */
.form-container h1 {
    font-size: 1.8rem;
    color: #691B32;
    text-align: center;
    margin-bottom: 20px;
}

/* Filas del formulario */
.form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px; /* Espaciado entre filas */
}

/* Grupo de formulario */
.form-group {
    width: 48%; /* Cada campo ocupa la mitad del espacio */
    display: flex;
    flex-direction: column;
}

/* Etiquetas */
.form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

/* Campos de entrada */
.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Botón Guardar */
.btn-guardar {
    width: 25%;
    background-color: #C19051;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    float: right;
    margin-top: -50px;
}

.btn-guardar:hover {
    background-color: #a67945;
}
