/* Estilos generales */
body {
    margin: 0;
}

.header {
    background-color: #691B32;
    color: white;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.header .logo-container {
    display: flex;
    align-items: center;
}

.header .logo {
    max-height: 80px;
    margin-right: 15px;
}

.header-text {
    line-height: 1.2;
}

.header-line {
    margin: 0;
    font-size: 20px;
    font-family: 'Afacad';
}

.login-container {
    text-align: center;
    margin: 50px auto;
    max-width: 430px;
    height: 415px;
}

#loginButton{
    width: 25%;
    float: right;
}

.login-container h2 {
    font-size: 40px; /* Texto más grande */
    margin-bottom: 30px;
}

.login-form {
    background-color: #E9E9E9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 150px;
    display: inline-block;

}

.login-form input {
    width: 90%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid white;
    color: #7E7E7E;
    border-radius: 5px;
    font-style: italic;
    font-size: 16px;
}

.login-form button {
    background-color: #BC955B;
    color: white;
    border: none;
    padding: 10px;
    margin-right: 9px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #BC955B;
}

.footer {
    background-color: #691B32;
    color: white;
    padding: 5px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    max-height: 90px;
    margin-right: 100px;
}

.footer-text {
    text-align: center;
}

.footer-title {
    font-size: 22px; /* Texto más grande */
    margin: 0;
    margin-bottom: 1px;
}

.footer-line {
    margin: 0;
    font-size: 14px; /* Texto más pequeño */
}
