/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.header {
    background-color: #6F1D30;
    color: white;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.header .logo-container {
    display: flex;
    align-items: center;
}

.header .logo {
    max-height: 80px;
    margin-right: 15px;
}

.header-text {
    line-height: 1.2;
}

.header-line {
    margin: 0;
    font-size: 20px;
    font-family: 'Afacad';
}

.login-container {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
    height: 410px;
}

#loginButton{
    width: 25%;
    float: right;
}

.login-container h2 {
    font-size: 28px; /* Texto más grande */
    margin-bottom: 20px;
}

.login-form {
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 150px;
}

input{
    width: 80%;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    background-color: #B08D57;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #916A44;
}

.footer {
    background-color: #6F1D30;
    color: white;
    padding: 5px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    max-height: 90px;
    margin-right: 100px;
}

.footer-text {
    text-align: center;
}

.footer-title {
    font-size: 22px; /* Texto más grande */
    margin: 0;
    margin-bottom: 1px;
}

.footer-line {
    margin: 0;
    font-size: 14px; /* Texto más pequeño */
}
