body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#txtTitulo {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: left;
}

thead {
    background-color:#ddd;
    color: #fff;
}

th, td {
    padding: 10px 15px;
    border: 1px solid #ddd;
}

th {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #e9ecef;
}

button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
}

.edit-btn {
    background-color: #ffc107;
    color: #fff;
}

.delete-btn {

    color: #fff;
}

button:hover {
    opacity: 0.8;
}

/* Contenedor del menú desplegable y botón */
.menu-y-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.select-visita {
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.select-visita:focus {
    border-color: #007bff;
    outline: none;
    box-shadow:darkgrey;

}

/* Botón de agregar visita */
.btn-agregar {
    background-color: #BC955B; /* Color del diseño enviado */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;

    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-right: 25%;
    padding: 15px;
    width: 100%;
    letter-spacing: 1px;

}

.btn-agregar:hover {
    background-color: #a97a4d; /* Un tono más oscuro al pasar el cursor */
}

.btn-historial{
    width: 100%;
    background-color: #5C5C5C;
    padding: 15px;
    color: white;
    margin-right: 20px;
}
